.nav-pills .nav-link.active {
    background-color: #0d6efd;
}

.card {
    border: none;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}